# Copy this file to .env and adjust as needed.

# Django
SECRET_KEY=change-this-to-a-long-random-string
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# MongoDB
# Local install:        mongodb://localhost:27017
# MongoDB Atlas example: mongodb+srv://<user>:<password>@<cluster-url>/?retryWrites=true&w=majority
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=vivah_db
